<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu_open</mat-icon>
    </button>
    <mat-list role="list" (click)="sidenav.toggle()">
      <mat-list-item
        ><span routerLink="/" routerLinkActive="active"
          >Home</span
        ></mat-list-item
      >
      <mat-list-item
        ><span routerLink="/login" routerLinkActive="active">Login</span>
        <mat-icon
          class="example-icon"
          aria-hidden="false"
          aria-label="Example user verified icon"
          >verified_user</mat-icon
        ></mat-list-item
      >
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Leones</h1>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
