<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu_open</mat-icon>
    </button>
    <mat-list role="list" (click)="sidenav.toggle()" *ngIf="isAuth">
      <mat-list-item>
        <span routerLink="/dashboard" routerLinkActive="active">Dashboard</span>
      </mat-list-item>
      <mat-list-item>
        <span routerLink="/register" routerLinkActive="active">Registrar</span>
      </mat-list-item>
      <mat-list-item (click)="onLogout(); sidenav.close()">
        <span>Logout</span>
      </mat-list-item>
    </mat-list>
    <mat-list role="list" (click)="sidenav.toggle()" *ngIf="!isAuth">
      <mat-list-item
        ><span routerLink="/" routerLinkActive="active"
          >Inicio</span
        ></mat-list-item
      >
      <mat-list-item>
        <span routerLink="/login" routerLinkActive="active">Acceso</span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Leones</h1>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
